<div class="contenido">
    <div class="container">

        <div class="row pt-5">

            <div class="col-md-8 offset-md-2 col-md-2 offset-md-2 col-sm-12 pt-5" id="profile">
                <div class="pb-2 text-center">
                    <span class="title-white text-center">Perfil de usuario</span>
                </div>

                <div class="p-4 photo">
                    <img src="/assets/content/perfil.svg" alt="" class="circulo">
                    <span class="title-white text-center circulo-titulo">Foto de perfil</span>
                  </div>
                <div class="form-group row pb">
                    <div class="col-sm-12">
                        <input type="text" class="form-control ng-pristine " placeholder="Nombre">
                    </div>
                </div>
                <div class="form-group row pb">
                    <div class="col-sm-12">
                        <input type="text" class="form-control ng-pristine " placeholder="Apellidos">
                    </div>
                </div>
                <div class="form-group row pb">
                    <div class="col-sm-12">
                        <input type="text" class="form-control ng-pristine " placeholder="Email">
                    </div>
                </div>
                <div class="form-group row pb">
                    <div class="col-sm-12">
                        <input type="text" class="form-control ng-pristine " placeholder="Número de contacto">
                    </div>
                </div>
                <div class="form-group row pb">
                    <div class="col-sm-6">
                        <input type="text" class="form-control ng-pristine " placeholder="País">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control ng-pristine " placeholder="Región">
                    </div>
                </div>

                <button type="button" mat-raised-button color="warn">
                    <span>Guardar</span>
                </button>
            </div>
        </div>
    </div>
</div>