mat-toolbar {
  background: linear-gradient(#02020299, #0b0b0b00);
}

.profile {
  height: 100%;
}

.profile img {
  width: 100%;
  margin-right: 10px;
  height: 38px;
  width: 38px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.menu {
  width: 30px !important;
}
