<mat-toolbar fxLayout fxLayoutAlign="space-between center">
  <button disableRipple mat-icon-button (click)="toggleSidenav()">
    <img src="assets/icon-menu/menu.svg" class="menu" />
  </button>
  <button mat-button class="profile" [matMenuTriggerFor]="menu">
    <img [src]="avatar" />
    <span>{{ nombres }}</span>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/" (click)="logout()">
    <mat-icon>logout</mat-icon>
    Cerrar sesión
  </button>
</mat-menu>
