<mat-toolbar fxLayout fxLayoutAlign="space-between center">
  <button disableRipple mat-icon-button (click)="toggleSidenav()">
    <img src="assets/icon-menu/menu.svg" class="menu" />
  </button>
  <button mat-button class="profile" [matMenuTriggerFor]="menu">
    <img src="assets/icon-menu/avatar.svg" />
    <span>Iniciar Sesión</span>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>logout</mat-icon>
    Cerrar sesión
  </button>
</mat-menu>
