<app-container>
  <div [formGroup]="frmMarket">
    <div class="row p-5">
      <h1>BarberShop</h1>
      <div class="col-12 mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" [ngClass]="{
        'is-invalid': submited && !frmMarket.controls['nombre'].valid
      }" />
      </div>
      <div class="col-12 mb-3">
        <label class="form-label">Descripción</label>
        <textarea type="text" class="form-control" formControlName="descripcion" [ngClass]="{
        'is-invalid': submited && !frmMarket.controls['descripcion'].valid
      }"> </></textarea>
      </div>
      <div class="col-12 mb-3">
        <label class="form-label">Dirección</label>
        <input type="text" class="form-control" formControlName="direccion" [ngClass]="{
        'is-invalid': submited && !frmMarket.controls['direccion'].valid
      }" />
      </div>
      <div class="col-12 mb-3">
        <label class="form-label">Link tienda</label>
        <input type="text" class="form-control" formControlName="link" [ngClass]="{
        'is-invalid': submited && !frmMarket.controls['link'].valid
      }" />
      </div>
      <div class="col-12 mb-3">
        <label class="form-label">Responsable</label>
        <input type="text" class="form-control" formControlName="responsable" [ngClass]="{
        'is-invalid': submited && !frmMarket.controls['responsable'].valid
      }" />
      </div>
      <div class="col-6 mb-3">
        <label class="form-label">Telefono</label>
        <input type="text" class="form-control" formControlName="telefono" [ngClass]="{
        'is-invalid': submited && !frmMarket.controls['telefono'].valid
      }" />
      </div>
      <div class="col-6 mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email" [ngClass]="{
        'is-invalid': submited && !frmMarket.controls['email'].valid
      }" />
      </div>
      <div class="col-12 mb-3">
        <ngx-awesome-uploader
          [adapter]="adapter"
          [enableCropper]="false"
          [fileMaxSize]="200"
          (uploadSuccess)="uploadSuccess($event)"
          (validationError)="onValidationError($event)"
          [fileMaxCount]="1"
          #uploader
        >
          <div class="dropzoneTemplate">
            <img
              src="assets/menu/cloud-upload.png"
              class="icon"
              class="img-upload"
            />
            <p style="text-align: center">
              Drop files here or click to upload.
            </p>
            <p></p>
          </div>
        </ngx-awesome-uploader>
      </div>
      <div class="col-3 offset-9 mt-4">
        <button mat-raised-button class="color-primary w-100" (click)="editar()">Editar</button>
      </div>
    </div>
  </div>
</app-container>
