.contenido {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h3 {
    font-family: 'Montserrat Bold';
    color: white;
    /* text-align: center; */
}

.title-white {
    font-family: 'Poppins Regular';
    color: white;
    display: block;
    text-align: justify;
    font-size: 1.2rem !important;
}

.form-control:focus {
    color: #212529;
    border-color: #ced4da;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #4C4C56;
}


.mat-form-field {
    margin: 0;
    border-radius: 8px;
}

input {
    font-family: "Poppins Regular";
    color: #657684 !important;
    font-size: 0.75rem !important;
    background: #faebd700;
    border: 1px solid #4C4C56;
    padding: 13px;
}

input:focus {

    background-color: #faebd700;
}

button {
    width: 100%;
    border-radius: 8px;
    padding: 5px;
}

#profile {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 5.5rem;
    padding-bottom: 2.5rem;
}

.pb {
    padding-bottom: 2.1rem;
}

.circulo {
    border-radius: 50% 50% 50% 50%;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.photo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.circulo-titulo {
    position: absolute;
}

.span-white {
    color: white;
    float: right;
    font-family: "Poppins Regular";
    font-size: 0.8rem;
}

.span-white-center {
    color: white;
    font-family: "Poppins Regular";
    font-size: 0.8rem;
}

.span-white-center b {
    color: #D45401;
    font-family: "Poppins Regular";
    font-size: 0.8rem;
}

.transparent {
    background: #4c4c5600;
    border: 1px solid #4C4C56;
}

.google {
    font-size: 0.8rem;
}

.email {
    font-family: "Poppins Bold";
    color: #909090;
    font-size: 0.8rem;
}

hr {
    color: #909090;
}

.transparent{
  display: flex !important;
  justify-content: space-around !important;
  box-shadow: none !important;
  border:none;
}
