h1,
h3 {
  font-family: 'Montserrat Bold';
  color: white;
  /* text-align: center; */
}

.title-orange {
  font-family: 'Montserrat Regular';
  color: #FF6501;
  display: block;
}

.title-white {
  font-family: 'Montserrat Regular';
  color: white;
  display: block;
  text-align: justify;
}

.compatibilidad {
  font-family: 'Montserrat Bold';
  font-size: 7rem;
  color: white;
  line-height: initial;
}

.line {
  line-height: normalƒ;
}

button {
  padding-left: 40px !important;
  padding-right: 40px !important;

}

.d-content{
  display: contents;
  min-height: 700px;
}

.row{
  background-color: #19181f;
}
