<app-container>
  <div class="vh-100">
    <div class="d-content">
      <div class="row" >
        <div class="col-md-6 col-xs-12 pt-5 col-sm-12">
          <img src="/assets/products/pro-2.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 col-xs-12 pt-5 col-sm-12">
          <h1>Óleo reparador Cabello Seco</h1>

          <div class="pb-2">
            <span class="title-orange">Bio tecnología Pró-teia</span>
            <span class="title-white">Inspirada en la inteligencia de la naturaleza y en la belleza de la ciencia. Natura
              Lumina creó la
              exclusiva
              Biotecnología Pró-teia para un tratamiento capilar de precisión. Rellena las hebras desde adentro hacia
              afuera,
              desde los microporos del córtex hasta la cutícula, en la medida exacta de cada daño.</span>
          </div>

          <div class="pb-2">
            <span class="title-orange">Bio tecnología Pró-teia</span>
            <span class="title-white">Inspirada en la inteligencia de la naturaleza y en la belleza de la ciencia. Natura
              Lumina creó la
              exclusiva
              Biotecnología Pró-teia para un tratamiento capilar de precisión. Rellena las hebras desde adentro hacia
              afuera,
              desde los microporos del córtex hasta la cutícula, en la medida exacta de cada daño.</span>
          </div>
          <div class="pb-2">
            <span class="title-orange">Bio tecnología Pró-teia</span>
            <span class="title-white">Inspirada en la inteligencia de la naturaleza y en la belleza de la ciencia. Natura
              Lumina creó la
              exclusiva
              Biotecnología Pró-teia para un tratamiento capilar de precisión. Rellena las hebras desde adentro hacia
              afuera,
              desde los microporos del córtex hasta la cutícula, en la medida exacta de cada daño.</span>
          </div>
          <div class="pb-2">
            <span class="title-orange">Bio tecnología Pró-teia</span>
            <span class="title-white">Inspirada en la inteligencia de la naturaleza y en la belleza de la ciencia. Natura
              Lumina creó la
              exclusiva
              Biotecnología Pró-teia para un tratamiento capilar de precisión. Rellena las hebras desde adentro hacia
              afuera,
              desde los microporos del córtex hasta la cutícula, en la medida exacta de cada daño.</span>
          </div>


          <div class="pb-2">
            <span class="title-orange">Contenido</span>
            <span class="title-white">100 ml.</span>
          </div>

          <div class="pb-2">
            <span class="title-orange">Modo de uso:</span>
            <span class="title-white">Aplíquese el óleo en las hebras secas o húmedas, evitando la raíz. No se
              enjuaga.</span>
          </div>

          <div class="pb-2">
            <span class="title-orange">Impactos Positivos:</span>
            <span class="title-white">
              -Sin pruebas en animales.<br>
              -Producto vegano.<br>
              -Frasco 100% plástico verde.<br></span>
          </div>

          <div class="pb-2 mt-4">
            <span class="title-orange line">Compatibilidad</span>
            <span class="compatibilidad">90%</span>
          </div>

          <button mat-button class="color-primary detail">Guardar producto</button>
        </div>
      </div>
    </div>

  </div>

</app-container>
