<app-container>
  <div class="vh-100 p-5">
    <div class="d-content">
      <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-xl-6 pt-5 img-center">
          <img src="{{ product?.foto }}" alt="" class="img-fluid" width="486" height="524">
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-xl-6 pt-5">
          <h1>{{ product?.nombre }}</h1>
          <mat-icon class="white">star</mat-icon>
          <mat-icon class="white">star</mat-icon>
          <mat-icon class="white">star</mat-icon>
          <mat-icon class="white">star</mat-icon>
          <mat-icon class="white">star</mat-icon>
          <div class="pb-2 mt-3">
            <span class="title-orange">Descripción</span>
            <span class="title-white">{{ product?.descripcion }}</span>
          </div><!--

          <div class="pb-2">
            <span class="title-orange">Contenido</span>
            <span class="title-white">100 ml.</span>
          </div>

          <div class="pb-2">
            <span class="title-orange">Modo de uso:</span>
            <span class="title-white">Aplíquese el óleo en las hebras secas o húmedas, evitando la raíz. No se
              enjuaga.</span>
          </div>

          <div class="pb-2">
            <span class="title-orange">Impactos Positivos:</span>
            <span class="title-white">
              -Sin pruebas en animales.<br>
              -Producto vegano.<br>
              -Frasco 100% plástico verde.<br></span>
          </div> -->

          <div class="pb-2 mt-4">
            <span class="title-orange line">Compatibilidad</span>
            <span class="compatibilidad">{{ porcentaje }}%</span>
          </div>

          <button mat-button class="color-primary detail">Guardar producto</button>
        </div>
        <div class="col-md-12 mt-5 pt-5">
          <h1>¿Dónde lo encuentras?</h1>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>

  </div>

</app-container>
