h1,
h3 {
  font-family: 'Montserrat Bold';
  color: white;
  /* text-align: center; */
}

.title-orange {
  font-family: 'Montserrat Regular';
  color: #FF6501;
  display: block;
}

.title-white {
  font-family: 'Montserrat Regular';
  color: white;
  display: block;
  text-align: justify;
}

.compatibilidad {
  font-family: 'Montserrat Bold';
  font-size: 7rem;
  color: white;
  line-height: initial;
}

.line {
  line-height: normal;
}

button {
  padding-left: 40px;
  padding-right: 40px;

}

.d-content {
  display: contents;
}

.row {
  background-color: #19181f;
}

.img-center {
  text-align: center !important;
}

.white {
  color: white;
}

.store {
  background: #272727;
  border-radius: 7px;
}

.span-store{
  font-size: 13px;
  padding-left: 20px;
}

.store img{
  border-radius: 7px;
}

.link-store{
  color:#FFA800;
  font-weight: bold;
}

.store span{
  text-align: left;
  padding-bottom: 6px;
  font-family: "Montserrat Bold";
}

.description-store{
  font-family: "Montserrat Regular" !important;
}
